/**************************

wwww.sotenursery.com

Author: Victoria Jones
victoria-jones-design.com
victoria.j.art@gmail.com

Date Last Modified: 12/21/2020

**************************/
/**************************/
/****** imports only ******/
/**************************/
/* BOX SHADOWS */
/* MEDIA QUERIES */
/***********
$breakpoints:
    - phone-small   300px
    - phone-med     480px
    - phone         600px
    - tab-port      900px
    - tab-land      1200px
    - big-desktop   1800px

EM used here (do not change to different measurement)
1em === 16px
***********/
/****** variables only ******/
/**********************

REM sizing used for styling
base size:  1rem = 10px

def:
- base browser sizes at 16px 
- changed to 62.5% to equal 10px
- conversions are (desired px size)/16px
    - change to percent

**********************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 2rem;
  background-color: #efefef;
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
}

.header-2 {
  font-size: 3.8rem;
  line-height: 1;
  margin-bottom: 4rem;
}

.list {
  list-style-type: none;
}
.list__item {
  background-image: url(../img/bulletpoint.png);
  background-repeat: no-repeat;
  padding-left: 5rem;
}
.list__item:not(last-child) {
  margin-bottom: 3rem;
}

.margin-top-sml {
  margin-top: 5rem;
}

.margin-top-med {
  margin-top: 10rem;
}

.btn {
  /*&::after {
      content: "";
      //background-color: grey;
      background-image: url(../img/roots.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 250%;
      height: 250%;
      position: absolute;
      z-index: -99999;
      top: -130%;
      left: -90%;
      transform: scale(0);
      transition: all .4s;
      backface-visibility: hidden;
  }*/
}
.btn, .btn:link, .btn:visited {
  font-family: "LEMONMILKPro-Bold", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 0.1rem;
  background-color: #e0c15a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.2s;
  backface-visibility: hidden;
  position: relative;
  z-index: 1;
}
.btn:hover {
  transform: translateY(-3px) rotate(-3deg);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
  /*&::after {
      transform: scale(1);
  }*/
}
.btn:active {
  background-color: #96813c;
  transform: translateY(1px) rotate(-3deg);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
}

.link {
  padding: 0 0.3rem;
}
.link, .link:link, .link:visited {
  font-size: 2rem;
  color: #e0c15a;
  text-decoration: none;
  border-bottom: 0.15rem solid #e0c15a;
  background-image: linear-gradient(120deg, #e0c15a 50%, transparent 50%, transparent 0%);
  background-size: 255%;
  background-position: 100%;
  background-repeat: repeat-y;
  transition: all 0.4s;
}
.link:hover {
  background-size: 225%;
  background-position: initial;
  color: #fff;
}
.link:active {
  transform: scale(0.9);
}
.link__white, .link__white:link, .link__white:visited {
  font-size: 1.6rem;
  color: #efefef;
  border-bottom: 1rem solid #efefef;
  transition: all 0.3s;
}

.torn-edge::before {
  content: "";
  background-image: url(../img/torn-edge.png);
  width: 100%;
  height: 20rem;
  display: block;
  align-self: flex-start;
  position: relative;
  top: -8rem;
  margin-bottom: -20rem;
}
.torn-edge::after {
  content: "";
  background-image: url(../img/torn-edge.png);
  background-position: 0 -8rem;
  background-repeat: repeat-x;
  width: 100%;
  height: 20rem;
  display: block;
  align-self: flex-end;
  position: relative;
  bottom: 8rem;
  margin-bottom: -20rem;
}

.footer {
  color: #efefef;
  background-color: #2b4220;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.footer > *:not(:last-child) {
  margin-bottom: 3rem;
}
.footer__img {
  height: 7rem;
}

.footer-nav {
  max-width: 500px;
}
.footer-nav__link, .footer-nav__link:visited, .footer-nav__link:link {
  color: #efefef;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  padding: 0 0.3rem;
}
.footer-nav__link:hover {
  border-bottom: 1px solid #e0c15a;
}
.footer-nav__item:not(:last-child) {
  margin-right: 5rem;
}

.container {
  display: grid;
  grid-template-rows: 10rem repeat(4, maxcontent) 20rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.nav-main {
  grid-column: 2/10;
  grid-row: 1;
}

.header, .clones, .merch, .white-space {
  grid-column: 1/-1;
}

.header {
  grid-row: 1/2;
}

.clones {
  grid-row: 3;
}

.merch {
  grid-row: 4;
}

.white-space {
  grid-row: 5;
}

.footer {
  grid-row: 6;
  grid-column: 1/-1;
}

.site-nav__list, .footer-nav__list, .social-nav__list {
  list-style-type: none;
  width: 100%;
}
.site-nav__item, .footer-nav__item, .social-nav__item {
  display: inline-block;
}

.nav-main {
  width: 100%;
  height: 10rem;
  position: relative;
  z-index: 1;
}
.nav-main__header {
  color: #efefef;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-main__img-holder {
  flex-grow: 1.3;
  text-align: right;
}
.nav-main__img {
  height: 7rem;
  display: inline-block;
}
.nav-main__social-nav {
  flex-grow: 1;
  text-align: right;
}
@media only screen and (max-width: 56.25em) {
  .nav-main__social-nav, .nav-main__img-holder {
    flex-grow: 1;
  }
  .nav-main__img-holder {
    text-align: left;
  }
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
}
.site-nav__link {
  display: inline-block;
  transition: all 0.2s;
}
.site-nav__link, .site-nav__link:link, .site-nav__link:visited {
  color: #fff;
  font-family: "LEMONMILKPro-Regular", sans-serif;
  text-decoration: none;
}
.site-nav__link:hover {
  transform: scale(1.2) translateY(-2px);
  color: #e0c15a;
}
.site-nav__link:active {
  transform: translateY(0);
  color: #96813c;
}

.social-nav__icon {
  height: 2rem;
  width: 2rem;
  fill: #fff;
  cursor: pointer;
}
.social-nav__list {
  width: 100%;
}
.social-nav__item:not(:last-child) {
  margin-right: 3rem;
}
.social-nav__link:hover .social-nav__icon {
  transition: all 0.2s;
  fill: #e0c15a;
  transform: scale(1.2) translateY(-2px);
}
.social-nav__link:active .social-nav__icon {
  transform: translateY(0);
  fill: #96813c;
}

.header {
  background-image: url(../img/leaves_bg-large.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .header__img {
    transform: scale(0.6);
  }
}
@media only screen and (max-width: 37.5em) {
  .header__img {
    transform: scale(0.4);
  }
}

.clones {
  background-color: #fff;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clones__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 5rem;
  position: relative;
  z-index: 1;
}
.clones__info {
  max-width: 50rem;
}
@media only screen and (max-width: 75em) {
  .clones__container {
    padding: 7rem 0;
  }
  .clones__img {
    margin-left: -20%;
  }
}
@media only screen and (max-width: 56.25em) {
  .clones__img {
    position: absolute;
    left: -14rem;
    top: 12rem;
  }
  .clones__info {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 2rem;
  }
  .clones__list, .clones__header {
    align-self: flex-end;
    width: 80%;
  }
  .clones__link {
    align-self: center;
    margin-top: 25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .clones__img {
    top: 20rem;
    left: -20rem;
  }
  .clones__header {
    width: 100%;
  }
}
.merch {
  background-color: #2b4220;
  color: #efefef;
  padding-top: 8rem;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-space {
  background-color: #fff;
  height: 30rem;
}