/**************************

wwww.sotenursery.com

Author: Victoria Jones
victoria-jones-design.com
victoria.j.art@gmail.com

Date Last Modified: 12/21/2020

**************************/
/**************************/
/****** imports only ******/
/**************************/
/* BOX SHADOWS */
/* container padding */
/* MEDIA QUERIES */
/***********
$breakpoints:
    - phone-small   300px
    - phone-med     480px
    - phone         600px
    - tab-port      900px
    - tab-land      1200px
    - big-desktop   1800px

EM used here (do not change to different measurement)
1em === 16px
***********/
/****** variables only ******/
/**********************

REM sizing used for styling
base size:  1rem = 10px

def:
- base browser sizes at 16px 
- changed to 62.5% to equal 10px
- conversions are (desired px size)/16px
    - change to percent

**********************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 2rem;
  background-color: #efefef;
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.7;
  font-size: 1.6rem;
}

.header-1 {
  font-size: 4.5rem;
  color: #fff;
  margin-bottom: 4rem;
}

.header-2 {
  font-size: 3.8rem;
  line-height: 1;
  margin-bottom: 4rem;
}

.header-3 {
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}

.list {
  list-style-type: none;
}
.list__item {
  background-image: url(../img/bulletpoint.png);
  background-repeat: no-repeat;
  padding-left: 5rem;
}
.list__item:not(last-child) {
  margin-bottom: 3rem;
}

.page-header {
  font-size: 4.5rem;
  color: #fff;
  margin-top: 20rem;
}
@media only screen and (max-width: 37.5em) {
  .page-header {
    margin-top: 12rem !important;
  }
}

p:not(:last-child) {
  margin-bottom: 2rem;
}

.margin-top-sml {
  margin-top: 5rem;
}

.margin-top-med {
  margin-top: 10rem;
}

.margin-bottom-med {
  margin-bottom: 10rem;
}

.margin-bottom-sml {
  margin-bottom: 5rem;
}

.torn-edge-fix {
  padding-top: 8rem;
}

.btn {
  /*&::after {
      content: "";
      //background-color: grey;
      background-image: url(../img/roots.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 250%;
      height: 250%;
      position: absolute;
      z-index: -99999;
      top: -130%;
      left: -90%;
      transform: scale(0);
      transition: all .4s;
      backface-visibility: hidden;
  }*/
}
.btn, .btn:link, .btn:visited {
  font-family: "LEMONMILKPro-Bold", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 0.1rem;
  background-color: #e0c15a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.2s;
  backface-visibility: hidden;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 56.25em) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.4rem;
  }
}
.btn:hover {
  transform: translateY(-3px) rotate(-3deg);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.3);
  /*&::after {
      transform: scale(1);
  }*/
}
.btn:active {
  background-color: #96813c;
  transform: translateY(1px) rotate(-3deg);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
}
.form-wrapper {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4rem 7rem;
}
@media only screen and (max-width: 37.5em) {
  .form-wrapper {
    padding: 3rem 2rem;
  }
  .form-wrapper h2 {
    text-align: center;
  }
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__textarea {
  min-height: 15rem;
}
.form__input, .form__textarea {
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border-radius: 0.1rem;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus, .form__textarea:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.form__input:focus:invalid, .form__textarea:focus:invalid {
  border-bottom: 3px solid #e0c15a;
}
@media only screen and (max-width: 37.5em) {
  .form__input, .form__textarea {
    width: 100%;
  }
}
.form__label {
  margin-left: 1.8rem;
  font-weight: bold;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label, .form__textarea:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.component__contact {
  background-image: url(../img/leaves2_bg-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.link {
  padding: 0 0.3rem;
}
.link, .link:link, .link:visited {
  font-size: 2rem;
  color: #e0c15a;
  text-decoration: none;
  border-bottom: 0.15rem solid #e0c15a;
  background-image: linear-gradient(120deg, #e0c15a 50%, transparent 50%, transparent 0%);
  background-size: 255%;
  background-position: 100%;
  background-repeat: repeat-y;
  transition: all 0.4s;
}
.link:hover {
  background-size: 225%;
  background-position: initial;
  color: #fff;
}
.link:active {
  transform: scale(0.9);
}
.link__white, .link__white:link, .link__white:visited {
  font-size: 1.6rem;
  color: #efefef;
  border-bottom: 1rem solid #efefef;
  transition: all 0.3s;
}

.soilbox--wrapper {
  background-image: url(../img/soilbox.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;
  display: grid;
}
.soilbox--wrapper::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.soilbox__img, .soilbox--wrapper::before {
  grid-area: 1/1/2/2;
}

.torn-edge::before {
  content: "";
  background-image: url(../img/torn-edge.png);
  width: 100%;
  height: 20rem;
  display: block;
  align-self: flex-start;
  position: relative;
  top: -8rem;
  margin-bottom: -20rem;
}
.torn-edge::after {
  content: "";
  background-image: url(../img/torn-edge.png);
  background-position: 0 -8rem;
  background-repeat: repeat-x;
  width: 100%;
  height: 20rem;
  display: block;
  align-self: flex-end;
  position: relative;
  bottom: 8rem;
  margin-bottom: -20rem;
}

.footer {
  color: #efefef;
  background-color: #2b4220;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}
.footer > *:not(:last-child) {
  margin-bottom: 3rem;
}
.footer__img {
  height: 7rem;
}

.footer-nav {
  max-width: 500px;
}
.footer-nav__link, .footer-nav__link:visited, .footer-nav__link:link {
  color: #efefef;
  text-decoration: none;
  border-bottom: 1px solid #efefef;
  padding: 0 0.3rem;
}
.footer-nav__link:hover {
  border-bottom: 1px solid #e0c15a;
}
.footer-nav__item:not(:last-child) {
  margin-right: 5rem;
}

.container {
  display: grid;
  grid-template-rows: 10rem repeat(4, maxcontent) 20rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.nav-main {
  grid-column: 2/10;
  grid-row: 1;
}

.header,
.clones,
.merch,
.home__contact,
.seedtomed,
.footer,
.contact,
.thefamily,
.whoweare__contact,
.family-group--1,
.family-group--2,
.family-group--3,
.meetthefamily__contact {
  grid-column: 1/-1;
}

.header {
  grid-row: 1/2;
}

.clones {
  grid-row: 3;
}

.merch {
  grid-row: 4;
}

.home__contact {
  grid-row: 5;
}

.footer {
  grid-row: 6;
}

.contact {
  grid-row: 1/-1;
}

.seedtomed {
  grid-row: 2;
}

.thefamily {
  grid-row: 3;
}

.whoweare__contact {
  grid-row: 4;
}

.family-group--1 {
  grid-row: 2;
}

.family-group--2 {
  grid-row: 3;
}

.family-group--3 {
  grid-row: 4;
}

.meetthefamily__contact {
  grid-row: 5;
}

.thefamily__grid,
.family-group__grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(12rem, 18rem));
  grid-auto-flow: dense;
}

.thefamily__p {
  grid-column: 4/6;
}

.family-group__about--1 {
  grid-column: 1/4;
}
.family-group__about--2 {
  grid-column: 3/-1;
}
.family-group__about--3 {
  grid-column: 1/-1;
}

.header {
  min-height: 110vh;
}
@media only screen and (max-width: 56.25em) {
  .header__img {
    transform: scale(0.6);
  }
}
@media only screen and (max-width: 37.5em) {
  .header__img {
    transform: scale(0.4);
  }
}
@media only screen and (max-width: 30em) {
  .header__img {
    transform: scale(0.3);
  }
}

.alt-header {
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.alt-header__p-container {
  background-color: #fff;
  padding: 9rem 7rem;
  max-width: 80rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 56.25em) {
  .alt-header__p-container {
    max-width: 95%;
  }
}
@media only screen and (max-width: 37.5em) {
  .alt-header__p-container {
    padding: 6rem 4rem;
    margin-bottom: 10rem;
  }
}
@media only screen and (max-width: 30em) {
  .alt-header__p-container {
    margin-bottom: 15rem;
  }
}

.site-nav__list, .footer-nav__list, .social-nav__list {
  list-style-type: none;
  width: 100%;
}
.site-nav__item, .footer-nav__item, .social-nav__item {
  display: inline-block;
}

.nav-main {
  width: 100%;
  height: 10rem;
  position: relative;
}
.nav-main__header {
  color: #efefef;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-main__img-holder {
  flex-grow: 1.33;
  text-align: right;
}
.nav-main__img {
  height: 7rem;
  display: inline-block;
}
.nav-main__social-nav {
  flex-grow: 1;
  text-align: right;
}
@media only screen and (max-width: 56.25em) {
  .nav-main__social-nav, .nav-main__img-holder {
    flex-grow: 1;
  }
  .nav-main__img-holder {
    text-align: left;
  }
}
@media only screen and (max-width: 37.5em) {
  .nav-main__header {
    padding: 0;
  }
  .nav-main__img-holder {
    display: none;
  }
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
}
.site-nav__link {
  display: inline-block;
  transition: all 0.2s;
  cursor: pointer;
}
.site-nav__link, .site-nav__link:link, .site-nav__link:visited {
  color: #fff;
  font-family: "LEMONMILKPro-Regular", sans-serif;
  text-decoration: none;
}
.site-nav__link:hover {
  color: #e0c15a;
  transform: scale(1.2) translateY(-2px);
}
.site-nav__link:active {
  color: #96813c;
  transform: translateY(0);
}
.site-nav__checkbox {
  display: none;
}
.site-nav__droplist {
  margin-right: -7.4rem;
}
.site-nav__dropitem {
  height: 100%;
}
.site-nav__droplink {
  font-size: 1.6rem !important;
  border: none !important;
  padding: 1rem 2rem;
  display: block;
}
.site-nav__dropicon {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-bottom: 0.3rem;
  transform: rotate(45deg);
  transition: all 0.2s;
}
.site-nav__dropdown {
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
  max-height: 0;
}
.site-nav__dropdown {
  transition: 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.site-nav__checkbox:checked ~ .site-nav__dropbtn .site-nav__droplist .site-nav__dropdown {
  max-height: 50rem;
}
.site-nav__checkbox:checked ~ .site-nav__dropbtn .site-nav__droplist .site-nav__dropicon {
  transform: rotate(-45deg);
}

.social-nav__icon {
  height: 2rem;
  width: 2rem;
  fill: #fff;
  cursor: pointer;
}
.social-nav__list {
  width: 100%;
}
.social-nav__item:not(:last-child) {
  margin-right: 3rem;
}
.social-nav__link:hover .social-nav__icon {
  transition: all 0.2s;
  fill: #e0c15a;
  transform: scale(1.2) translateY(-2px);
}
.social-nav__link:active .social-nav__icon {
  transform: translateY(0);
  fill: #96813c;
}

.nav-mobile__,
.nav-mobile__button,
.nav-mobile__icon,
.nav-mobile__img,
.nav-mobile__background,
.nav-mobile__checkbox {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .site-nav, .nav-main__header {
    z-index: 2;
    width: 0;
    opacity: 0;
    transition: 0.8s cubic-bezier(0.83, 0, 0.17, 1) 0.2s;
  }

  .site-nav {
    position: fixed;
    left: 0;
    margin-top: 20vh;
    font-size: 2.5rem;
  }
  .site-nav__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .site-nav__droplist {
    margin-right: -4rem;
  }

  .nav-main__header {
    position: absolute;
    bottom: -70vh;
  }
  .nav-main__social-nav {
    text-align: center;
    position: fixed;
  }
  .nav-main .social-nav__icon {
    height: 2.5rem;
    width: 2.5rem;
  }
  .nav-main .social-nav__item:not(:last-child) {
    margin-right: 15vw;
  }

  .nav-mobile__button,
.nav-mobile__icon,
.nav-mobile__img,
.nav-mobile__background {
    display: block;
  }

  .nav-mobile__button {
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    z-index: 9999;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    text-align: center;
    cursor: pointer;
  }

  .nav-mobile__icon {
    position: relative;
    margin-top: 2.8rem;
    width: 4.3rem;
  }
  .nav-mobile__icon, .nav-mobile__icon::before, .nav-mobile__icon::after {
    height: 3px;
    background-color: #2b4220;
    display: inline-block;
  }
  .nav-mobile__icon::before, .nav-mobile__icon::after {
    content: "";
    position: absolute;
    width: 2.8rem;
    left: 0.8rem;
    transition: all 0.5s;
  }
  .nav-mobile__icon::before {
    top: 1.2rem;
  }
  .nav-mobile__icon::after {
    bottom: 1.2rem;
  }

  .nav-mobile__img {
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 2rem;
    z-index: 2;
  }

  .nav-mobile__background {
    height: 250%;
    width: 0;
    position: fixed;
    right: -10rem;
    top: -100vh;
    z-index: 2;
    background-image: linear-gradient(60deg, transparent 0%, transparent 50%, #2b4220 50%, #2b4220 100%);
    background-repeat: no-repeat;
    background-size: 270%;
    background-position: -30%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 1s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .nav-mobile__checkbox:checked ~ .nav-mobile__background {
    width: 170%;
    background-position: 100%;
  }

  .nav-mobile__checkbox:checked ~ .site-nav,
.nav-mobile__checkbox:checked ~ .nav-main__header {
    width: 100%;
    opacity: 1;
  }

  .nav-mobile__checkbox:checked ~ .nav-mobile__button .nav-mobile__icon {
    background-color: transparent;
  }

  .nav-mobile__checkbox:checked ~ .nav-mobile__button .nav-mobile__icon::before {
    top: 0;
    transform: rotate(135deg) scale(1.5, 1);
  }

  .nav-mobile__checkbox:checked ~ .nav-mobile__button .nav-mobile__icon::after {
    top: 0;
    transform: rotate(-135deg) scale(1.5, 1);
  }
}
.contact {
  background-image: url(../img/leaves2_bg-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__header, .contact__form-wrapper {
  max-width: 80rem;
  width: 100%;
}
.contact__header {
  background-color: #fff;
}
.contact__header--wrapper {
  position: relative;
  z-index: 1;
  padding: 4rem 7rem;
}
@media only screen and (max-width: 56.25em) {
  .contact__form-wrapper {
    max-width: 95%;
  }
}

.contact__social-nav .social-nav__list {
  display: flex;
  justify-content: center;
}
.contact__social-nav .social-nav__icon {
  fill: #000;
  width: 2.8rem;
  height: 2.8rem;
}
.contact__social-nav .social-nav__item:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 37.5em) {
  .contact__social-nav .social-nav__icon {
    width: 3.5rem;
    height: 3.5rem;
  }
  .contact__social-nav .social-nav__item:not(:last-child) {
    margin-right: 8rem;
  }
}

.home__header {
  background-image: url(../img/leaves_bg-large.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clones {
  background-color: #fff;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.clones__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7rem 5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
}
.clones__info {
  max-width: 50rem;
}
@media only screen and (max-width: 75em) {
  .clones__container {
    padding: 7rem 0;
  }
  .clones__img {
    margin-left: -20%;
  }
}
@media only screen and (max-width: 56.25em) {
  .clones__img {
    position: absolute;
    left: -14rem;
    top: 18rem;
  }
  .clones__info {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 2rem;
  }
  .clones__list, .clones__header {
    align-self: flex-end;
    width: 80%;
  }
  .clones__link {
    align-self: center;
    margin-top: 25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .clones__img {
    top: 25rem;
    left: -18rem;
    transform: scale(0.8);
  }
  .clones__header {
    width: 100%;
  }
}
@media only screen and (max-width: 30em) {
  .clones__container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .clones__img {
    position: initial;
    order: 2;
    margin: -15rem 0 -15rem 0;
  }
  .clones__link {
    margin-top: 3rem;
  }
}

.merch {
  background-color: #2b4220;
  color: #efefef;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-space {
  background-color: #fff;
  height: 30rem;
}

.meetthefamily {
  background-image: url(../img/leaves_bg-large.jpg);
}

.family-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.family-group__container {
  padding: 7rem 5rem;
  max-width: 100rem;
}
.family-group__header {
  margin-bottom: 1.5rem;
}
.family-group--1, .family-group--3 {
  background-color: #fff;
}
.family-group--1__container {
  position: relative;
  z-index: 1;
}
.family-group--2 {
  background-color: #2b4220;
}
.family-group__about--wrapper {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.family-group__about--2 {
  color: #efefef;
}
.family-group__about--3 {
  margin-bottom: 3rem;
}
.family-group__about--3 h2 {
  text-align: center;
}

.whoweare {
  background-image: url(../img/leaves_bg-large.jpg);
  /*background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;*/
  /*&__p-container {
      background-color: $color-white;
      padding: 9rem 7rem;
      @include default-container-max-width;
      @include box-shadow-light;
  }

  @include respond(tab-port) {
      &__p-container {
          max-width: 95%;
      }
  }

  @include respond(phone) {
      &__p-container {
          padding: 6rem 4rem;  
          margin-bottom: 10rem; 
      }
  }

  @include respond(phone-med) {
      &__p-container {
          margin-bottom: 15rem;
      }
  }*/
}

.seedtomed {
  background-color: #fff;
}
.seedtomed__bg-img {
  position: relative;
  z-index: 1;
  width: 100%;
  background-image: url(../img/overhead-plant.jpg), url(../img/overhead-plant-med.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 140% 0, -30% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seedtomed__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  max-width: 100rem;
  padding: 7rem 5rem;
}
.seedtomed__header {
  align-self: flex-start;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .seedtomed__container {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .seedtomed__bg-img {
    background-image: url(../img/overhead-plant-med.jpg), url(../img/overhead-plant-small.jpg);
    background-position: calc(100% + 20rem) 0, -15rem 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .seedtomed__bg-img {
    background-position: calc(100% + 10rem) 12rem, -15rem 100%;
  }
  .seedtomed__header {
    align-self: center;
    width: 90%;
  }
}
@media only screen and (max-width: 30em) {
  .seedtomed__bg-img {
    background-position: calc(100% + 10rem) 12rem, -15rem 95%;
  }
}

.step {
  transform: skew(-15deg, 0);
  background-color: #2b4220;
  color: #efefef;
  overflow-x: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}
.step:not(:last-child) {
  margin-bottom: 10rem;
}
.step__img {
  min-width: 30rem;
  max-height: 100%;
  background-color: orange;
  margin-left: -4rem;
}
.step__container {
  display: flex;
  transform: skew(15deg, 0);
}
.step--wrapper {
  padding: 4rem 7rem;
}
@media only screen and (max-width: 56.25em) {
  .step {
    transform: skew(0);
    max-width: 50rem;
    width: 90%;
    max-height: 70rem;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .step__container {
    transform: skew(0);
    display: flex;
    flex-direction: column;
  }
  .step__img {
    height: 30rem;
    margin-top: -5rem;
    transform: skew(0, 7deg);
  }
}
@media only screen and (max-width: 37.5em) {
  .step {
    max-width: 30rem;
  }
  .step--wrapper {
    padding: 0 3rem 3rem 3rem;
  }
}
@media only screen and (max-width: 30em) {
  .step {
    width: 95%;
  }
}

.thefamily {
  background-color: #2b4220;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* this chunk moved to soilbox component */
  /******/
}
.thefamily__container {
  display: flex;
  flex-direction: column;
  padding: 7rem 5rem;
  width: 90%;
  max-width: 100rem;
}
.thefamily__grid {
  padding: 2rem 0;
}
.thefamily__header {
  align-self: center;
}
.thefamily__btn {
  align-self: center;
}
.thefamily__p {
  padding-left: 2rem;
  display: flex;
  align-items: center;
}
.thefamily__img--wrapper {
  /*background-image: url(../img/soilbox.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;
  //make the grid into perfect squares 
  display: grid;
  &::before {
      content: "";
      padding-bottom: 100%;
      display: block;
  }*/
}
@media only screen and (max-width: 75em) {
  .thefamily__container {
    padding-left: 0;
    padding-right: 0;
  }
  .thefamily__grid {
    align-self: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .thefamily__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .thefamily__p {
    order: -1;
    padding-bottom: 2rem;
  }
  .thefamily__img--wrapper {
    width: 30%;
  }
}
@media only screen and (max-width: 37.5em) {
  .thefamily {
    overflow-x: hidden;
  }
  .thefamily__img--wrapper {
    width: 45%;
  }
}
@media only screen and (max-width: 30em) {
  .thefamily__img--wrapper {
    width: 50%;
  }
}