.genetics {
    background-color: $color-white;
    padding-bottom: 20rem;
    &__header {
        background-image: url(../img/leaves_bg-large.jpg);
    }

    &__side-menu {
        background-color: $color-grey;
        @include box-shadow-light;
        margin-left: 2rem;
        padding: 2rem;

        &__header {
            color: $color-primary-green-med;
        }

        &--list {
            list-style-type: none;
            margin-left: 2rem;
        }

        
    }

    &__container {
        margin-right: 2rem;
    }

    &__key {
        &--list {
            list-style-type: none;
            display: flex;
            margin-top: 1rem;
            justify-content: space-between;
        }
        &--item {
            display: flex;
            align-items: center;

            &--1 {
                color: $color-secondary-green;
                fill: $color-secondary-green;
            }

            &--2 {
                color: $color-secondary-violet;
                fill: $color-secondary-violet;
            }

            &--3 {
                color: $color-secondary-blue;
                fill: $color-secondary-blue;
            }

            &--4 {
                color: $color-primary-yellow;
                fill: $color-primary-yellow;
            }
        }
        &--icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
    }

}

.genetics-filter {
    width: 100%;
    background-color: $color-primary-green;
    color: $color-grey-light;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.genetics-section {
    &__p {
        margin-bottom: 4rem;
        margin-top: -2rem;
    }
}

.genetics-card {
    background-color: $color-grey-light;
    @include box-shadow-light;
    width: 27rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__img {
        background-color: orange;
        height: 17rem;
        margin-top: -2rem;
        @include default-skew-horizontal;
    }

    &__header {
        margin-bottom: 0;
        color: $color-primary-green-med;
        font-size: 2.4rem;
    }

    &__info {
        padding: 0 2rem 2rem 2rem;
    }

    &__type,
    &__care {
        display: flex;
        align-items: center;
        padding-bottom: .5rem;
    }

    &__care {
        padding-bottom: 1rem;
    }

    &__type {
        &--icon {
           &--1 {
               fill: $color-secondary-green;
           }
           &--2 {
               fill: $color-secondary-violet;
           }
           &--3 {
               fill: $color-secondary-blue;
           }
           &--4 {
               fill: $color-primary-yellow;
           }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}