.genetics {
    background-color: $color-white;
    padding-bottom: 20rem;
    &__header {
        background-image: url(../img/buds01_bg-large.jpg);
        padding-bottom: 5rem;

        @include respond(phone) {
            background-image: none;
            &::after {
                background-image: url(../img/buds01_bg-small.jpg);
            }
        }

        &--wrapper {
            @include respond(phone) {
                padding: 1.5rem;
            }
        }

        @include respond(big-desktop) {
            background-image: url(../img/buds01_bg-xl.jpg);
        }

        &__links {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &__side-menu {
        background-color: $color-grey;
        @include box-shadow-light;
        margin-left: 2rem;
        padding: 2rem;

        &__header {
            color: $color-primary-green-med;
        }

        &--list {
            list-style-type: none;
            margin-left: 2rem;
        }

        &__checkbox,
        &__icon {
            display: none;
        }

        //accordion menu for phones
        @include respond(tab-port) {
            margin-left: 0;
            margin-top: -2rem;
            padding: 0;
            display: flex;
            flex-direction: column;
            //overflow-x: hidden;

            &--list {
                background-color: $color-grey-light;
                width: 100%;
                margin-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                //padding-bottom: 1rem;
                overflow: hidden;
                max-height: 0;
            }

            &--item {
                &:not(:last-child) { margin-bottom: 1rem; }
            }

            &--list,
            &--item {
                transition: .8s cubic-bezier(0.83, 0, 0.17, 1);
            }

            &__header {
                margin-bottom: 0;
                margin-top: -3rem;  //remove space made by the ::before
                padding: .5rem;
                cursor: pointer;

                &:hover {
                    background-color: $color-white;
                }
            }

            &__icon {
                position: relative;
                width: 1.5rem;
                bottom: -2.5rem;
                left: 90%;

                &,
                &::before {
                    height: 3px;
                    background-color: $color-primary-green-med;
                    display: inline-block;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 1.5rem;
                    transform: rotate(90deg);
                    transition: .8s cubic-bezier(0.83, 0, 0.17, 1);
                }
            }

            &__checkbox:checked ~ &__button &__icon::before {
                transform: rotate(180deg);
            }

            &__checkbox:checked ~ &--list {
                padding-bottom: 1rem;
                max-height: 100vh;
                overflow: auto;
            }
        }

    }

    &__container {
        margin-right: 2rem;

        @include respond(tab-port) {
            margin-right: 0;
            padding: 0 2rem;
        }

        @include respond(phone) {
            padding: 0;
        }
    }

    &__key {
        &--list {
            list-style-type: none;
            display: flex;
            margin-top: 1rem;
            justify-content: center;
            flex-wrap: wrap;

            @include respond(phone) {
                flex-wrap: wrap;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }

            @include respond(phone-med) {
                width: 95%;
            }
        }
        &--item {
            display: flex;
            align-items: center;
            &:not(:first-child) {
                margin-left: 1rem;
            }

            @include respond(phone) {
                flex: 0 50%;
                &:not(:first-child) {
                    margin-left: 0;
                }
            }
            @include respond(phone-med) {
                flex: 0 100%;
            }

            &--1 {
                color: $color-secondary-green;
                fill: $color-secondary-green;
            }

            &--2 {
                color: $color-secondary-violet;
                fill: $color-secondary-violet;
            }

            &--3 {
                color: $color-secondary-blue;
                fill: $color-secondary-blue;
            }

            &--4 {
                color: $color-primary-yellow;
                fill: $color-primary-yellow;
            }

            &--5 {
                color: $color-primary-yellow-dark;
                fill: $color-primary-yellow-dark;
            }

            &--6 {
                color: $color-primary-green;
                fill: $color-primary-green;
            }

            &--7 {
                color: $color-secondary-orange;
                fill: $color-secondary-orange;
            }
        }
        &--icon {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
    }

}

.genetics-filter {
    width: 100%;
    background-color: $color-primary-green;
    color: $color-grey-light;
    padding: 1.5rem;
    display: flex;
    justify-content: center;


    @include respond(phone) {
        &--wrapper {
            justify-content: center;
        }
    }

    &--wrapper {
        width: 100%;
        max-width: 115rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
}

.genetics-section {
    &__p {
        margin-bottom: 4rem;
        margin-top: -2rem;
    }

    @include respond(phone) {
        &__header,
        &__p {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.genetics-card {
    background-color: $color-grey-light;
    @include box-shadow-light;
    width: 27rem;
    overflow: hidden;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    @include respond(phone-med) {
        margin-left: 0;
        margin-right: 0;

    }

    @include respond(phone-small) {
        width: 97%;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }

    &__img {
        background-color: orange;
        height: 17rem;
        margin-top: -2rem;
        @include default-skew-horizontal;
        background-size: cover;
        background-position: center;
        &:hover {
            cursor: pointer;
        }
    }

    &__header {
        margin-bottom: 0;
        color: $color-primary-green-med;
        font-size: 2rem;
    }

    &__info {
        padding: 0 2rem 2rem 2rem;
    }

    &__type,
    &__care {
        display: flex;
        align-items: center;
        padding-bottom: .5rem;
    }

    &__care {
        padding-bottom: 1rem;
    }

    &__type {
        &--icon {
           &--1 {
               fill: $color-secondary-green;
           }
           &--2 {
               fill: $color-secondary-violet;
           }
           &--3 {
               fill: $color-secondary-blue;
           }
           &--4 {
               fill: $color-primary-yellow;
           }
           &--5 {
                fill: $color-primary-yellow-dark;
           }
           &--6 {
                fill: $color-primary-green;
           }
           &--7 {
               fill: $color-secondary-orange;
           }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.genetics-popup {
    //quick view strain popup
    &__quickview {
        width: 100%;
        height: 100%;
        //display: flex;
        display: none;
    }

    &__img {
        background-color: orange;
        width: 60%;
        margin-left: -16rem;
        @include default-skew-vertical;
        background-size: cover;
        background-position: center;
    }

    &__info {
        margin-left: 8rem;
        padding-right: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__header {
        color: $color-primary-green-med;
        margin-bottom: 1rem;
    }
    &__details {
        margin: 3rem 0;
        max-height: 30rem;
        overflow-y: scroll;
    }

    &__key-info {
        display: flex;
        align-items: center;
    }

    //card image enlarge popup
    &__card-image {
        display: none;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }

    //contact popup
    &__contact {
        display: none;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-image: url(../img/buds2_bg-large.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include respond(phone) {
            background-image: url(../img/buds2_bg-small.jpg);
        }
    }

    @include respond(tab-port) {
        &--wrapper,
        &__quickview {
            flex-wrap: wrap;
        }

        &__info {
            margin-left: 0;
            padding-right: 0;
            padding: 0 4rem 2rem 4rem;
            align-self: flex-start;
        }

        &__img {
            width: 100%;
            height: 40%;
            margin-top: -5rem;
            transform: skew(0);
            margin-left: 0;
            @include default-skew-horizontal;
        }
    }

    @include respond(phone-med) {
        &__info {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        &__header,
        &__key-info {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &__details {
            max-height: 25rem;
        }
    }

    @include respond(phone-med-h) {
        &__details {
            max-height: 18.5rem;
        }
    }

    @include respond(phone-small-h) {
        &__details {
            max-height: 17rem;
        }
    }

    @include respond(phone-small) {
        &__header,
        &__type,
        &__care {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &__info {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &__details {
            max-height: 15rem;
        }
    }
}