.whoweare {
    background-image: url(../img/babies_bg-large.jpg);
    @include respond(phone) {
        background-image: url(../img/babies_bg-small.jpg);
    }
}

.seedtomed {
    background-color: $color-white;

    &__bg-img {
        position: relative;
        z-index: 1;
        width: 100%;
        //overflow: hidden;
        background-image: url(../img/overhead-plant.jpg),
                        url(../img/overhead-plant-med.jpg);
        background-repeat: no-repeat, no-repeat;
        background-position: (140% 0), (-30% 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
     
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include torn-edge-fix;
        @include default-container-max-width-large;
        @include default-section-container-padding;
    }

    &__header {
        align-self: flex-start;
        margin-bottom: 8rem;
    }

    @include respond(tab-port) {

        &__container {
            padding: 5rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__bg-img {
            background-image: url(../img/overhead-plant-med.jpg),
                                url(../img/overhead-plant-small.jpg);
            background-position: (calc(100% + 20rem) 0), (-15rem 100%);
        }
    }  
    
    @include respond(phone) {
        &__bg-img {
            background-position: (calc(100% + 10rem) 12rem), (-15rem 100%);
        }

        &__header {
            align-self: center;
            width: 90%;
        }
        
    }

    @include respond(phone-med) {
        &__bg-img {
            background-position: (calc(100% + 10rem) 12rem), (-15rem 95%)
        }
    }
}

.step {
    @include default-skew-vertical;
    background-color: $color-primary-green-med;
    color: $color-grey-light;
    overflow-x: hidden;
    @include box-shadow-light;
    
    &:not(:last-child) {
        margin-bottom: 10rem;
    }

    //help the images be more visible if there isn't a lot of text
    &__p {
        min-height: 10rem;
    }
    
    &__img {
        min-width: 30rem;
        max-height: 100%;
        background-color: $color-white;
        margin-left: -4rem;
        //background-size: cover;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__img--1 {
        background-image: url(../img/momplant.jpg);
        background-position: 7rem center;
     }

    &__img--2 {
        background-image: url(../img/cleanclones.jpg);
        background-position: 4rem center;
     }

    &__img--3 { 
        background-image: url(../img/teenplant.jpg);
        background-position: 5rem center;
    }

    &__container {
        display: flex;
        @include default-unskew-vertical; 
    }

    &--wrapper {
        @include default-container-padding;
    }

    @include respond(tab-port) {
        transform: skew(0);
        max-width: 50rem;
        width: 90%;
        max-height: 70rem;
        overflow-y: hidden;
        overflow-x: auto;
         &__container {
             transform: skew(0);
            display: flex;
            flex-direction: column;
         }

         &__img {
             height: 35rem;
             margin-top: -5rem;
             margin-bottom: -5rem;
             background-position: center 4rem;
         }

         &--wrapper {
             @include default-skew-horizontal;
             background-color: $color-primary-green-med;

             & > * {
                 @include default-unskew-horizontal;
             }
         }
    }

    @include respond(phone) {
        max-width: 30rem;
        &--wrapper {
            padding: 0 3rem 3rem 3rem;
        } 
    }

    @include respond(phone-med) {
        width: 95%;
    }
}

.innovating {
    background-color: $color-primary-green-med;
    color: $color-grey-light;
    display: flex;
    justify-content: center;

    &__container {
        width: 100%;
        justify-self: center;
        @include default-container-max-width-large;
        @include default-section-container-padding;

        @include respond(phone) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__section--1 {
        display: flex;
        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    &__p--1 {
        width: 50%;
        margin-right: 2rem;
        align-self: center;

        @include respond(tab-port) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__img--1 {
        @include respond(tab-port) {
            width: 90%;
        }
    }

    &__video {
        @include respond(tab-port) {
            width: 100%;
        }
    }

    &__section--2 {
        text-align: center;
    }

    &__subheader {
        margin-bottom: 1rem;
    }

    &__social-name {
        display: flex;
        justify-content: center;
        font-size: $display-font-size-small;
        color: $color-primary-yellow;
        font-weight: bold;
        margin-right: 2rem;
    }    

    &__social-nav {
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
    }

    &__social-nav__icon {
        width: 3rem;
        height: 3rem;
    }

    &__social-nav__list {
        text-align: left;
        width: inherit;
        align-self: flex-end;
    }
    
}

.thefamily {
    background-color: $color-white;
    //color: $color-grey-light;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        @include default-section-container-padding;
        width: 90%;
        @include default-container-max-width-large;
    }

    &__grid {
        padding: 2rem 0;
    }

    &__header {
        align-self: center;
    }

    &__btn {
        align-self: center;
    }

    &__p {
        padding-left: 2rem;
        display: flex;
        align-items: center;
    }

    /* this chunk moved to soilbox component */
    &__img--wrapper {
        /*background-image: url(../img/soilbox.png);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 1rem;
        //make the grid into perfect squares 
        display: grid;
        &::before {
            content: "";
            padding-bottom: 100%;
            display: block;
        }*/
    }

    //square grid inside content fix 
    &__img,
    &__img--wrapper::before {
        //grid-area: 1 / 1 / 2 / 2;
    }
    /******/
    
    @include respond(tab-land) {
        &__container {
            padding-left: 0;
            padding-right: 0;
        }

       /*&__grid {
            align-self: center;
        }*/
    }

    @include respond(tab-port) {
        /*&__grid {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }*/

        &__p {
            order: -1;
            padding-bottom: 2rem;
        }

        /*&__img--wrapper {
            width: 30%;
        }*/
    }

    @include respond(phone) {
       /* overflow-x: hidden;
        &__img--wrapper {
            width: 45%;
        }*/
    }

    @include respond(phone-med) {
        /*&__img--wrapper {
            width: 50%;
        }*/
    }
}