.header {
    min-height: 110vh;

    &__img--small {
        display: none;
    }

    &__img {
        @include drop-shadow;
        width: 800px;
    }

    @include respond(tab-port) {
        &__img {
            transform: scale(.6);
        }
    }

    @include respond(phone) {
        &__img {
            transform: scale(.3);
            margin-top: -10rem;
            margin-bottom: -30rem;
        }
        &__img--big {
            display: none;
        }
        &__img--small {
            display: block;
        }
    }

    @include respond(phone-med){
        &__img {
            //swap this image out with one that wraps instead, its getting too small
                //for now its fine
            transform: scale(.2);
            margin-top: -20rem;
            margin-bottom: -35rem;
        }
    }
    @include respond(phone-small) {
        &__img {
            margin-top: -25rem;
        }
    }
}

.alt-header {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto;
    padding-bottom: 15rem;
    position: relative;

    &__p-container {
        background-color: $color-white;
        padding: 9rem 7rem;
        @include default-container-max-width;
        @include box-shadow-light;
    }

    @include respond(tab-port) {
        &__p-container {
            max-width: 95%;
        }
    }

    @include respond(phone) {
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            right: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
        }

        &__p-container {
            padding: 6rem 4rem;  
            margin-bottom: 10rem; 
        }
    }

    @include respond(phone-med) {
        &__p-container {
            margin-bottom: 15rem;
        }
    }

    &__bg-attachment-fix {
        &::after {
            z-index: -3 !important;
        }
        //only set z-index here
    }
}