.header {
    min-height: 110vh;

    @include respond(tab-port) {
        &__img {
            transform: scale(.6);
        }
    }

    @include respond(phone) {
        &__img {
            transform: scale(.4);
        }
    }

    @include respond(phone-med){
        &__img {
            //swap this image out with one that wraps instead, its getting too small
                //for now its fine
            transform: scale(.3);
        }
    }
}

.alt-header {
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    &__p-container {
        background-color: $color-white;
        padding: 9rem 7rem;
        @include default-container-max-width;
        @include box-shadow-light;
    }

    @include respond(tab-port) {
        &__p-container {
            max-width: 95%;
        }
    }

    @include respond(phone) {
        &__p-container {
            padding: 6rem 4rem;  
            margin-bottom: 10rem; 
        }
    }

    @include respond(phone-med) {
        &__p-container {
            margin-bottom: 15rem;
        }
    }
}