.drop-down-list {
    list-style-type: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;

    @include respond(phone-med) {
        width: 95%;
    }

    &__item {
        background-color: white;
        //font-size: $display-font-size-small;
        font-family: $font-display-light;
        width: 100%;

        @include default-container-padding;
        @include default-skew-vertical;
        @include box-shadow-light;

        @include respond(phone) {
            max-width: 90%;
        }

        @include respond(phone-med) {
            transform: skew(0);
            padding: 4rem 5rem;
            max-width: 100%;
        }

        & > * {
            @include default-unskew-vertical; 

            @include respond(phone-med) {
                transform: skew(0);
            }
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__drop {

        &__list {
            list-style-type: none;
            font-size: $default-font-size;
            font-family: $font-primary;
        }

        /*&:hover {
            cursor: pointer;
        }*/
    }

    &__dropicon {
        border: solid $color-primary-yellow;
        border-width: 0 3px 3px 0;
        width: 1.3rem;
        height: 1.3rem;
        display: inline-block;
        margin-bottom: .3rem;
        margin-left: 1rem;
        transform: rotate(45deg);
        transition: all .2s;
    }

    @include respond(tab-port) {
        width: 90%;
    }
}