.form-wrapper {
    width: 100%;
    background-color: rgba($color-white, .8);
    @include default-container-padding;

    @include respond(phone) {
        padding: 3rem 2rem;

        h2 {
            text-align: center;
        }
    }
}

.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__textarea {
        min-height: 15rem;
    }

    &__input,
    &__textarea {       
        font-family: inherit;
        color: inherit;
        font-size: $default-font-size;
        padding: 1.5rem 2rem;
        border-radius: .1rem;
        background-color: $color-white;
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            @include box-shadow-lightest;
            border-bottom: 3px solid $color-primary-yellow;

            &:invalid {
                border-bottom: 3px solid $color-secondary-red;
            }
        }

        @include respond(phone) {
            width: 100%;
        }
    }

    &__label,
    &__error {
        font-weight: bold;
        transition: all .3s;
    }

    &__label {
        font-weight: bold;
        display: inline-block;
        margin-left: 1.8rem;
    }

    &__error {
        color: $color-secondary-red;
        display: inline-block;
        margin-left: 2rem;
        transform: translateY(-4rem);
        opacity: 0;
    }

    &__error--visible {
        transform: translateY(0);
        opacity: 1;
    }

    //drop label into view when input is focused 
    &__input:placeholder-shown + &__label,
    &__textarea:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

.component__contact {
    //background-image: url(../img/leaves2_bg-large.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    //@include default-section-container-padding;
}

.home__contact { 
    background-image: url(../img/farm3_bg-large.jpg); 
    @include respond(phone) {
        background-image: url(../img/farm3_bg-small.jpg);
    }
}
.whoweare__contact { 
    background-image: url(../img/roots_bg-large.jpg); 
    @include respond(phone) {
        background-image: url(../img/roots_bg-small.jpg);  
    }
}
.meetthefamily__contact { 
    background-image: url(../img/family_bg-large.jpg); 
    @include respond(phone) {
        background-image: url(../img/family_bg-small.jpg);  
    }
}
.genetics__contact { 
    background-image: url(../img/buds2_bg-large.jpg); 
    @include respond(phone) {
        background-image: url(../img/buds2_bg-small.jpg);
    }
}

.genetics__contact {
    flex-direction: column;
    align-items: center;
}