.green-container {
    position: relative;
    z-index: 1;
    &::after {
        opacity: .2;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        content: "";
        background-image: url(../img/leaves_bg-large.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @include respond(phone) {
            background-image: url(../img/leaves_bg-small.jpg);
        }
    }

    & > * {
        position: relative;
        z-index: 2;
    }
}
