.genetics-filter {

    &__menu {   
        font-family: inherit;
        font-size: inherit;
        padding: 1rem;
        min-width: 15rem;
        margin-left: 1.2rem;
        @include border-radius;

        &:focus {
            border-color: $color-primary-yellow;
        }
    }

    &__label {
        font-size: 2rem;
    }

    @include respond(phone) {
        &__menu {
            width: 65%;
        }
    }

    @include respond(phone-med) {
        //min-width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        &__label {
            font-size: 1.8rem;
        }
        &__menu {
            width: 90%;
            margin-left: 0;
        }
    }
}

