body {
    font-family: $font-primary;
    line-height: 1.7;
    font-size: $default-font-size;
}

.header-1, 
.header-2,
.header-3 {
    font-family: $font-display-light;
}

.header-1 {
    font-size: $title-font-size;
    color: $color-white;
    margin-bottom: 4rem;
}

.header-2 {
    font-size: $display-font-size;
    line-height: 1;
    margin-bottom: 4rem;
}

.header-3 {
    font-size: $display-font-size-small;
    margin-bottom: 2.5rem;
}

.list {
    list-style-type: none;
    &__item {
        background-image: url(../img/bulletpoint.png);
        background-repeat: no-repeat;
        padding-left: 5rem;
        &:not(last-child) {
            margin-bottom: 3rem;
        }
    }
}

.page-header {
    font-size: $title-font-size;
    color: $color-white;
    margin-top: 20rem;
    text-align: center;
    @include text-shadow;
    @include respond(phone) {
        margin-top: 12rem !important;
    }
}

p {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

