.margin-top-sml {
    margin-top: 5rem;
}

.margin-top-med {
    margin-top: 10rem;
}

.margin-bottom-med {
    margin-bottom: 10rem;
}
.margin-bottom-sml {
    margin-bottom: 5rem;
}

.torn-edge-fix {
    padding-top: 8rem;
}