/****** variables only ******/ 

//colors 
$color-primary-green: #546b34;
$color-primary-green-med: #2b4220;
$color-primary-green-dark: #0c1f0f;

$color-primary-yellow: #e0c15a;
$color-primary-yellow-dark: #96813c;

$color-grey-light: #efefef;
$color-grey: #DDD;
$color-grey-medium: #999;

$color-white:  #fff;
$color-black: #000;

$color-secondary-blue: #2c94ca;
$color-secondary-green: #42bc51;
$color-secondary-violet:#7b59a9;
$color-secondary-red: #ED3D53;
$color-secondary-orange: #FF832A; 

//fonts 
$font-primary: 'Roboto Condensed', sans-serif;
$font-display: 'LEMONMILKPro-Bold', sans-serif;
$font-display-light: 'LEMONMILKPro-Regular', sans-serif;

$display-font-size: 3.8rem;
$display-font-size-small: 2.8rem;
$title-font-size: 4.5rem;
$default-font-size: 1.6rem;
$font-size-small: 1.2rem;
$link-font-size: 2rem;

//grid

